/* Fuente y configuración general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4A90E2, #9013FE);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario */
form {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
}

/* Título */
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: white;
    position: absolute;
    top: 40px;
}

/* Etiquetas */
label {
    font-weight: bold;
    color: #333;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #7b42f5;
    box-shadow: 0 0 5px rgba(123, 66, 245, 0.5);
    outline: none;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background: #7b42f5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #5e2ec9;
}
